#pip freeze > requirements.txt
#pip install -r /path/to/requirements.txt
paramiko
Fabric
iptools
passlib
termcolor
pyparsing
appdirs
cffi
pygit2
awscli
requests
simplejson
ujson
pagerduty
pygerduty
pagerduty-api