[mysql]
user=test
password=testpass
[mysqldump]
user=test
password=test_pass

# mysqldump --defaults-file=scripts/conf/project/project-prd-my.cnf -q -c --routines
# --triggers --single-transaction -h${RDS_SERVER} ${RDS_DATABASE} > /ops/backups/project-prd-$DATE.sql

# DBLIST=$(mysql --defaults-file=scripts/conf/project-stg/project-stg-my.cnf -hip
# -se "show databases like '%project_prd%';")